@media (max-width: 370px) {

    #lp-page1a {
        padding-right: 30px;
    }

    .landingPageSlogan {
        font-size: 0.8em;
    }

    .lp-p1b-rightSectionTitle {
        font-size: 0.95em;
        margin-top: 0px;
    }

    .lp-p1b-div {
        gap: 22px;
    }

    .lp-p1b-1 {
        bottom:12px; 
    }


    .landingPageDownBtn {
        bottom: 12px;
        padding: 7px 28px !important;
        font-size: 1.15em;
        background-color: #232323db;
        border-radius: 7px;
    }

    .lp-page3-title {
        padding: 31px 0px 19px 0px;
    }



}