@media (max-width: 767px) {

    /* LANDINGPAGE */
    #section1 {
        height: 100vh;
        flex-direction: column;
    }
    #lp-page1a {
        height: 65vh;
        width: 100%;
    }
    #lp-page1b {
        height: 45vh;
        width: 100%;

        /* bottom: 30px; */
    }

    #lp-p1-topLeftSquare {
        opacity: 0;
        left: 0;
        top: -630px;
        transform: rotate(84deg);
        animation: squareAnimResp 1s 0.7s ease forwards;
    }
    @keyframes squareAnimResp {
        0% {
            opacity: 0;
            top: -630px;
        }   
        100% {
            opacity: 1;
            top: -610px;
        }
    }

    .splide__list {
        padding-left: 0 !important;
    }

    .lp-p1b-div {
        top: 45%;
        transform: translateY(-45%);
        gap: 55px;
    }

    #lp-login {
        transform: translateX(0);
        transform: scale(0.8);
        width: 70%;
    }
    #lp-loginBtn {
        bottom: 18px;
    }

    .lp-p2-rightSection {
        width: 100%;
        right: 0;
        bottom: -600px;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
        animation: lp-p2-bottomSectionAnim-phone 1s 0.6s ease forwards;
    }
    @keyframes lp-p2-bottomSectionAnim-phone {
        0% {
            bottom: -600px;
        }
        100% {
            clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
            bottom: 1px;
        }
    }

    .lp-gameCard {
        margin: 5px auto;
        width: 200px;
        height: 90px;
        border-radius: 4px;
    }

    .lp-page3-containerMaster {
        overflow: hidden;
        /* border-top: 1px solid white;
        border-bottom: 1px solid white; */
    }
    .lp-page3-container {
        margin: 0 auto;
    }
    
    #lp-scrollBtn {
        animation: fadeIn 0.5s 0.5s ease forwards;
    }


    #loginFormTitle {
        position:relative; 
        text-align:center; 
        bottom:0px;
    }


    .lp-phone-slpideTrait1 {
        display: block;
        height:1px; 
        position:absolute; 
        width:100%; 
        background:radial-gradient(circle, rgba(255,255,255,1) 11%, rgba(44,243,249,0) 90%);
    }
    .lp-phone-slpideTrait2 {
        display: block;
        height:1px; 
        bottom:0px; 
        position:absolute; 
        width:100%; 
        background:radial-gradient(circle, rgba(255,255,255,1) 11%, rgba(44,243,249,0) 90%);
    }


    .lp-gameCardTitle {
        display: none;
    }

    .lp-gameCardTitlePhone {
        width: 30%;
        display: block;
    }

    .lp-page3-slideContainer {
        width: 80%;
        display: inline-flex;
    }


    .lp-p1a-btn, .lp-p1a-btn-noHover {
        width: 165px;
    }

    #lp-phone-line {
        z-index: 999;
        bottom: 20px;
        display: block;
        position: absolute;
        height: 4px;
        width: 150%;
        background-color: var(--primary-color);
    }

    .lp-p1b-rightSectionTitle {
        transform: translateX(0);
        font-size: 1.1em;
        margin-top: 1px;
        max-width: 85%;
    }
    .lp-p1b-rightSectionLoginDiv {
        transform: translateX(0);
        font-size: 1.1em;
    }
    #lp-registerBtn {
        margin: 18px auto;
        padding: 10px 53px;
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
    }

    .lp-leftSection, .lp-teamsCountLine {
        font-size: 1em;
    }

    .centeredLogo {
        transform: translateX(0px);
    }
    .landingPageSlogan  {
        max-width: 92%;
        font-size: 1em;
        transform: translateX(0px);
        margin: 10px auto 20px auto;
        background: radial-gradient(circle, rgba(247,114,31,0.3) 0%, rgba(35,35,35,0) 100%);
    }
    .lp-statsDiv {
        transform: translateX(0px);
        margin: 0 auto;
    }
    .centeredLogoImg {
        width: 175px !important;
    }

    .landingPageDownBtn {
        bottom: 7px;
        padding: 3px 28px;
        font-size: 1.1em;
    }


    .mediaListGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: masonry;
        grid-column-gap: 7px;
        grid-row-gap: 0px;
    
    }

    .sectionTeamParam {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }



    /* #lp-page2 {
        height: 50vh !important;
    }
    #lp-page3 {
        height: 50vh !important;
    } */

    .lp-page4-container {
        flex-direction: column;
    }
    .lp-page4-card {
        height: 20vh;
        margin: 5px auto;
        border-radius: 5px;

        display: inline-flex;
    }

    .lp-page4-cardTitle {
        font-size: 1.3em;
        align-self: center;
    }
    .lp-page4-card:hover .lp-page4-cardTitle {
        letter-spacing: 2px;
    }
    .lp-page4-img {
        margin: 0px auto;
    }

    #lp-page4-cardTeams, #lp-page4-cardMedias, #lp-page4-cardTopics {
        width: 80%;
        height: 20vh;
        margin: 5px auto;

        display: inline-flex;
    }

    #lp-page4-selectedGameTitle {
        font-size: 1.2em;
    }

    .lp-searchDiv {
        padding: 13px 0 9px 0;
    }

    #orSpan {
        margin-right: 10px;
        font-size: 1.3em;
    }


    .lp-searchSubDiv {
        flex-direction: column; 
    }


    #lp-page4-cardTeams-seek, #lp-page4-cardTeams-create {
        font-size: 0.7em;
    }


    .lp-page4-teamsCardImg {
        display: none;
    }

    .lp-page4-cardTeams-btn {
        padding: 11px 0;
    }
    .lp-page4-cardTeams-btn:hover {
        letter-spacing: 0px;
    }


    #lp-registerBtn {
        margin:30px auto; 
        width:100%; 
        clip-path:polygon(0% 0, 100% 0, 100% 100%, 0% 100%); 
        padding:10px 45px; 
        font-size:1.2em;
    }

    .lp-filterBtn {
        font-size: 0.8em;
    }


    .gameDetailsIcon {
        font-size: 1.5em;
        right: 30px;
    }
    .lp-page4-titleDivWrapper:hover .gameDetailsIcon {
        right: 15px;
    }













}