:root {
    --primary-color: #00d29c;
    --background-color: #232323;
    --sectionBg-color: #363636;
    --white: #D9D9D9;

    /* --secondary-font: "'K2D', sans-serif"; */
}

/* Bootstrap  */
    .btn-primary {
        margin: 5px auto;
        color: black;
    } 

    .form-select {
        
    }
/* ************************* */


body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--white);
    font-family: 'Julius Sans One', sans-serif;

    /* margin-right: -10px; */
    overflow-y: scroll; /* Allow vertical scrolling */
    position: relative; /* Set the container element to relative position */
}
body::-webkit-scrollbar {
    z-index: -10;
    width: 15px; /* Set the width of the scrollbar */
    position: absolute; /* Set the scrollbar to absolute position */
    bottom: 0; /* Stretch the scrollbar to fill the height of the container element */
    background-color: #333333; /* Set the background color of the scrollbar */
}

body::-webkit-scrollbar-thumb {
    position: absolute; /* Set the scrollbar to absolute position */
    background-color: #cccccc; /* Set the color of the scrollbar thumb */
    border-radius: 0px; /* Set the border radius of the scrollbar thumb */
}



ul {
    list-style-type: none;
    padding-inline-start: 0;
}
ul li {
    list-style-type: none;
    padding-inline-start: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.marginTop {
    margin-top: 30px;
}
.marginBottom {
    margin-bottom: 20px;
}

.underlineLink {
    text-decoration: underline;
}

header {
    position: relative;
    background-color: var(--primary-color);
}
.gameHeader, .globalBanner {
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    overflow: hidden;
}
.gameHeader img {
    opacity: 0.8;
}
.gameHeader:before, .globalBanner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); */

    background: rgb(255,255,255);
    background: -moz-radial-gradient(circle, rgba(255,255,255,0.09615384615384615) 0%, rgba(35,35,35,0.9182692307692307) 70%);
    background: -webkit-radial-gradient(circle, rgba(255,255,255,0.09615384615384615) 0%, rgba(35,35,35,0.9182692307692307) 70%);
    background: radial-gradient(circle, rgba(255,255,255,0.09615384615384615) 0%, rgba(35,35,35,0.9182692307692307) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#232323",GradientType=1);

    z-index: 1;
}

.pageTitle {
    background-color: var(--primary-color);
    color: black;
    padding: 3px 29px;
    /* padding-left: 500px; */
    /* clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%); */
    clip-path: polygon(4% 0, 100% 0, 95% 100%, 0% 100%);
    width: fit-content;
}

.filAriane {
    margin-left: 3%;
    display: inline-flex;
    font-family: 'K2D', sans-serif;
}
.filArianeSepa {
    margin: 0 5px;
}
.arianeLink {
    text-decoration: underline;
    text-underline-offset: 2px;
}

nav {
    position: absolute;
    z-index: 11;

    bottom: 0px;
    right: 0px;
    padding-right: 10px;
    color: black; 

}

.main {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.authenticationDiv {
    position:absolute; 
    display:inline-flex; 
    background-color: var(--primary-color);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    padding-left: 20px;
    z-index: 10;
    top:0px; 
    right:0px;
    padding-top: 2px;
    padding-right: 9px;
}

.headerUnderline {
    height: 4px; 
    width: 100%; 
    background-color: var(--primary-color); 
    position: relative; 
    top: 2px;

    margin-bottom: 40px;
}

.logoPng {
    position: relative;
    z-index: 11;

    width: 200px;
    padding: 10px;
    margin: 5px;
}

.profil {
    color: black;
    padding: 0px 10px;
}

.genreGameList {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 35px;
}

.headerGameTitle {
    position: absolute;
    z-index: 11;

    color: black;
    bottom: 30px;
    right: 0;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;

    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    
    background-color: #f1f1f1;

    /* A adapter en fonction du jeu */
    /* background-color: #ff4655;
    color: white;
    text-shadow: 1px 1px white; */

}


.favButton {
    float: right; /* temporaire */

    padding: 5px 30px;
    background-color: rgb(255 255 255 / 5%);
    border-top: 1px solid rgb(255 255 255 / 20%);
    border-bottom: 1px solid rgb(255 255 255 / 20%);
    clip-path: polygon(14% 0, 100% 0, 86% 100%, 0% 100%);
}
.createButton {
    padding: 5px 30px;
    background-color: rgb(255 255 255 / 5%);
    border-top: 1px solid rgb(255 255 255 / 20%);
    border-bottom: 1px solid rgb(255 255 255 / 20%);
    clip-path: polygon(14% 0, 100% 0, 86% 100%, 0% 100%);
}

.noMarginBottom {
    margin-bottom: 0;
}

#search-form {
    width: 20%;
    position: relative;
}
#search-input {
    padding: .375rem .75rem .375rem 2.2rem;
}
#searchFormLoupe {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.5;
}
#search-title {
    display: none;
}
#search-results {
    display: inline-flex;
}

.gameListCount {
    font-size: 80%;
    opacity: 0.7;
}


.btn {
    background-color: #00F38D;
}

.gameCard {
    position: relative;
    width: fit-content;
    background-color: #363636;
    border-radius: 5px;
}
.gameCardLink {
    filter: drop-shadow(0px 0px 6px black); 
    margin: 5px 11px;
    transition: all 0.3s;
}
/* .gameCardLink:hover {
    filter: drop-shadow(2px 1px 4px black);
} */
.gameLogo {
    width: 150px;
    height: 80px;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}
.gameCardUnderline {
    width: 100%;
    height: 3px;

    margin-top: 1px;
    margin-bottom: 5px;
}
.gameCardTitle {
    text-align: center;
}
.gameCardInfos {
    /* width: 80%;
    margin: 0 auto; */
    padding: 10px;
}

.roleUserData {
    margin-left: 10px;
    padding: 3px 7px;
    border: 1px solid;
    border-radius: 5px;
}

.topicCard {
    position: relative;
    display:inline-flex; 
    width:100%; 
    justify-content:space-between;

    margin: 1px auto;
    padding: 10px 15px 10px 53px;
    background-color: white;
    color: black;

    clip-path: polygon(1% 0, 100% 0, 99% 100%, 0% 100%);

    /* FadeIn provoqué par ajout JS de la classe .topicCardFadeInAnim  */
    transform: rotateX(90deg);
    transition: all 0.4s;
    opacity: 0;
}
@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.topicCardFadeInAnim {
    animation: fadeInRotate 1s 0s ease forwards;
}

.topicCardPublishDate {
    font-family: 'K2D', sans-serif;
}

.listContainer {
    padding: 10px 10px;
    background-color: rgb(44 44 44);
    border-radius: 4px;
}

#createTopicBtn {
    cursor: pointer;
}




.gameSubTitle {
    position: relative;
    color: black;
    padding: 3px 29px;
    width: fit-content;
    z-index: 10;
    
}

.gameInfosSubTitleBg {
    position:absolute; 
    clip-path: polygon(0 0, 100% 0, 91% 100%, 0 100%);
    /* height:35px; 
    width:130px;  */
    height: 0px;
    width: 5px;
    transform: translateY(-5px);
    z-index:0;

    animation: gameInfosSubTitleBg1 0.3s 0.1s ease-in-out forwards, gameInfosSubTitleBg2 0.4s 0.45s ease-in-out forwards;
}
@keyframes gameInfosSubTitleBg1 {
    from {
        height: 0px;
    }
    to {
        height:45px; 
    }
}
@keyframes gameInfosSubTitleBg2 {
    from {
        width: 5px;
    }
    to {
        width:150px; 
    }
}

.gameTopicsSubTitleBg {
    position:absolute; 
    clip-path: polygon(0 0, 100% 0, 91% 100%, 0 100%);
    /* height:35px; 
    width:130px;  */
    height: 0px;
    width: 5px;
    transform: translateY(-5px);
    z-index:0;

    animation: gameTopicsSubTitleBg1 0.3s 0.1s ease-in-out forwards, gameTopicsSubTitleBg2 0.4s 0.45s ease-in-out forwards;
}
@keyframes gameTopicsSubTitleBg1 {
    from {
        height: 0px;
    }
    to {
        height:45px; 
    }
}
@keyframes gameTopicsSubTitleBg2 {
    from {
        width: 5px;
    }
    to {
        width:190px; 
    }
}

.seeAllRedirect {
    font-size: 80%;
    font-family: 'K2D';
    opacity: 0.8;
    font-style: italic;
    transition: all 0.4s;
    text-align: right;
    width: 98%;
    margin-top: 5px;
    display: block;
}
.seeAllRedirect:hover {
    letter-spacing: 1px;
}


.toggleTopicFilter {
    cursor: pointer;
    font-size: 1.4em;
    padding: 5px 20px;
    background-color: white;
    color: #232323;
    margin: 30px 1px;

    transition: all 0.5s;
}


.ellispsis1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 163px;
}


.tinyLogo {
    width: 25px;
    position: absolute;
    left: 14px;
}

#createMediaForm {
    width: 70%;
    margin: 40px auto;
}

#createTopicForm {
    width: 70%;
    margin: 40px auto;
}


.gameCardFav {
    position: absolute;
    bottom: -16px;
    padding: 0px 4px 0 0;
    right: 0px;
    /* background-color: rgb(22, 22, 22); */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%); */
    opacity: 0.9;
    color: var(--primary-color) !important;
    /* filter: drop-shadow(2px 4px 8px black); */
    /* text-shadow: 1px 1px black; */
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6), 1px -1px 0 rgba(0, 0, 0, 0.6), -1px 1px 0 rgba(0, 0, 0, 0.6), 1px 1px 0 rgba(0, 0, 0, 0.6);
    font-size: 50%;
    color: rgba(255,255,255,1);

}

.gameNotationDiv {
    display: inline-flex;
    flex-direction: column;
}
.gameNotationLine {
    text-align: center;
    font-family: 'K2D', sans-serif;
}

.emptyListMsg {
    font-family:'K2D', sans-serif; 
    font-style:italic; 
    font-weight:100; 
    text-align:center; 
    opacity: 0.7;
}


.topicStatus {
    position: relative;
    /* padding: 7px 10px; */
    font-family: 'K2D';
    opacity: 0.8;
    font-weight: 100;
    color: #00ffaf;
    font-size: 1.3em;
    margin: 0px 30px;
}
.topicClosed {
    font-weight: 400 !important;
    color: #ff004c;
}
.topicOpen {
    color: #00ffaf;
}

#notation-input {
    width: 60px !important;
}

.mediaDetailTitle {
    display:inline-flex; 
    width:100%; 
    align-items: baseline;
    margin: 50px 0 45px 0;
}



.postAuthor {
    /* background-color: rgb(108 100 48) !important; */
    border-left: 5px solid var(--primary-color);
}


.candidatureTeamName {
        text-align: center;
        width: fit-content;
        margin: 0 auto;

        color: black;
        padding-left: 45px;
        padding-right: 16px;
        padding-top: 2px;
        padding-bottom: 2px;
        clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
        background-color: #f1f1f1;
        border-right: 30px solid red;
}


.gameTeamBtn {
    position: relative;
    padding: 25px 35px;
    margin: 1px;
    border-radius: 0px;
    background-color: rgb(69 69 69);
    color: white;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s;
  }
  
  .gameTeamBtn:hover {
    color: black;
  }
  
  
  .candidatureSubmitBtn {
    z-index: 2;
    width: 200px;
    height: 60px;
    clip-path: polygon(13% 0px, 100% 0px, 87% 100%, 0px 100%);
    position: relative;
    transform: translateX(-18px);
  }
  
  .teamBtnBg {
    position: absolute;
    z-index: 1;
    width: 240px;
    height: 181px;
    transform: translate(-38px, -60px);
    clip-path: polygon(0% 0, 0 0, 0 100%, 0 100%);
    transition: all 0.4s;
  }
  
  .gameTeamBtn:hover .teamBtnBg {
    clip-path: polygon(0% 0, 100% 0, 81% 100%, 0 100%);
  }
  
  .gameTeamBtn1 {
    clip-path: polygon(7% 0px, 100% 0px, 93% 100%, 0px 100%);
  }
  
  .gameTeamBtn2 {
    clip-path: polygon(9% 0px, 100% 0px, 91% 100%, 0px 100%);
    position: relative;
    transform: translateX(-18px);
  }
  
  .candidatureSubmitBg {
    position: absolute;
    z-index: 3;
    color: black;
    width: 240px;
    height: 181px;
    transform: translate(-54px, -84px);
    clip-path: polygon(0% 0, 0 0, 0 100%, 0 100%);
    transition: all 0.4s;
  }
  
  .gameTeamBtn:hover .candidatureSubmitBg {
    clip-path: polygon(0% 0, 100% 0, 81% 100%, 0 100%);
  }
  
  .gameTeamBtn:hover .candidatureSubmitBtn {
    color: white;
  }




.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */



#ajaxFlash {
    font-family: 'K2D', sans-serif;
    position: fixed;
    bottom: 45px;
    right: 10px;
    max-width: 300px;
    /* font-size: 0.60em; */
    border-radius: 5px;
    padding: 10px 20px;

    opacity: 0;

    /* transform: translateY(100px); */
}

.ajaxFlashAnim {
    animation: fadeInFlash 0.7s 0.1s forwards ease, fadeOutFlash 0.8s 2.5s forwards ease;
}

.successAjaxFlash {
    background-color: #0dad55;
    color: rgb(255, 255, 255);
}
.errorAjaxFlash {
    background-color: #ad0d0d;
    color: rgb(255, 255, 255);
}






.topicTitle {
    font-family: 'K2D', sans-serif;
}
.mediaTitle {
    font-family: 'K2D', sans-serif;
    
    /* Elipsis Ellipsis titre cardMedia*/
    display: inline-block;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}


.topicPost, .mediaPost {
    background-color: rgb(68 68 68);
    color: white;
    font-family: 'K2D', sans-serif;
    padding: 5px 20px;
    margin: 2px auto;
    border-radius: 3px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.postContent {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}


.topicFirstMsg {
    /* background-color: rgb(30 30 30) !important; */
    font-family: 'K2D', sans-serif;
    padding: 5px 10px;
    margin: 2px auto;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}


.form-control {
    background-color:rgb(75, 75, 75);
    border: 0px solid;
    font-family: 'K2D', sans-serif;

    transition: all 0.4s;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(170, 170, 170);
}


#topic_post_text {
    /* // padding spécifique pour éviter superposition input et submit btn */
    padding: 0.375em 2.6em 0.375em 1.2em;

}

#topic_post_submit, #media_post_submit {
    background-color: rgba(0,0,0,0);
    border: 0px solid;
    position: absolute;
    bottom: 0;
    right: 0px;
    padding-right: 23px;
    padding-left: 23px;
    margin: 0;
    /* transform: scale(1.2); */
    transition: all 0.3s;
}
#topic_post_submit:hover, #media_post_submit:hover {
    opacity: 0.7;
    background-color: rgba(255,255,255,0.1);
}


.createButton {
    cursor: pointer;
}

.mediaImg {
    width: 100%;
    max-width: 100%;
    max-height: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* border-radius: 5px; */
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
}

 
.mainMediaDetail {
    width: 75%;
    max-width: 75%;
    margin: 30px auto 15px auto;
}

.mediaDetailImg {
    border-radius: 3px !important;
}

.mediaDetailBg {
    border-radius: 3px !important;
}


.mediaCardHeader {
    position: relative;
    display:inline-flex; 
    width:100%; 
    justify-content:space-between;

    margin: 1px auto;
    padding: 10px 15px 10px 53px;
    background-color: #e7e7e7;
    color: black;

    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */

    /* clip-path: polygon(1% 0, 100% 0, 99% 100%, 0% 100%); */
}


/* Inversion couleurs listes pair/impair */
.listContainer:nth-child(even) a:nth-child(even) .topicCard {
    background-color: #e7e7e7;
}




#charCountMsgMedia, #charCountMsg {
    font-family: 'K2D', sans-serif;
    margin: 0 6px;
    font-size: 0.72em;
}

.fileUploadCriteria {
    font-family: 'K2D', sans-serif;
    margin: 0 10px;
    font-size: 0.72em;
    color: red;
}

.mediaCard {
    background-color: rgba(167, 167, 167,0.8);
    /* border-radius: 5px; */
    padding: 1px 1px 1px 1px;
    cursor: pointer;

    /* margin-bottom: 15px; */
}
.mediaCardPreview {
    /* background-color: rgba(167, 167, 167,0.8); */
    border-radius: 5px;
    padding: 1px 1px 1px 1px;
}

.mediaList {
    width: 55%;
    margin: 30px auto;
}

/* .gameSubImgBg {
    background-image: radial-gradient(circle, rgba(255,255,255,0.05615384615384615) 0%, rgba(35,35,35,1) 60%), url('{{asset("img/games/headerBackground/overwatchHeaderBg.jpg")}}');
    background-size:cover; 
    background-repeat:no-repeat;
} */

.mediaStatusValidate {
    display: none;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}


.gameHeaderInfos {
    
}

.reportBtn {
    font-family: "K2D";
    color: rgba(180, 58, 58, 1);
    font-size: 0.6em;

    align-items: flex-start;
    transition: all 0.5s;
}
.reportBtn:hover {
    color: rgba(180, 58, 58, 1);
}

.mediaUpvoteLine {
    font-size: 3em;

    width: 100%;
    display: inline-flex;
    align-items: center;

    justify-content: space-between;
}
.likeMediaDetail {
    padding: 12px 19px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    cursor: pointer;
}
.nbrMediaUpvotes {
    margin-left: 10px;
    font-size: 0.75em;
}

.topicSubCard {
    background-color: rgb(44 44 44);
    padding: 10px;
    margin-bottom: 20px;
}
.notDisplayed {
    display: none !important;
}

.mediaApprovalLine {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
.mediaApprovalLine span {
    padding: 10px 35px 3px 35px;
    font-size: 1.2em;
}

.mediaApproveBtn {
    color: var(--primary-color)

}
.mediaRefuseBtn {
    color: rgb(219, 61, 21);
}

.refusedMediaLabel {
    text-align: center;
    padding: 18px;
    font-weight: bold;
    background-color: #404040;
    color: #d34242;
    font-size: 1.3em;

    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.waitingMediaLabel {
    text-align: center;
    padding: 18px;
    font-weight: bold;
    background-color: #404040;
    color: #b8a229;
    font-size: 1.3em;

    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* Media Grid  */
.mediaListGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    /* grid-template-rows: masonry; */
    grid-column-gap: 5px;
    grid-row-gap: 0px;


}

.inline {
    display: inline-flex;
}


.mediaCardStatsDiv {
    opacity: 0.8;
    background-color: #404040;
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    position: relative;
    /* right: 3px; */
    padding-top: 15px;
    font-size: 1.5em;
    color: whitesmoke;

    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.topicList {
    width: 75%;
    margin: 50px auto 20px auto;

}



.upBtnLiked {
    color:var(--primary-color);
    border-color: var(--primary-color);
    font-size: 0.8em;
}


.fa-circle-up {
    margin: 0 5px;
}



.alertFlash {
    font-family: 'K2D', sans-serif;
    position: fixed;
    bottom: 45px;
    right: 10px;
    max-width: 300px;
    /* font-size: 0.60em; */
    border-radius: 5px;
    padding: 10px 20px;

    opacity: 0;
    animation: fadeInFlash 0.7s 0.1s forwards ease, fadeOutFlash 0.8s 2.5s forwards ease;
}
@keyframes fadeInFlash {
    from {
        transform: translateY(-60px);
        opacity: 0;
    }
    to {
        transform: translateY(-0px);
        opacity: 1;
    }
}
@keyframes fadeOutFlash {
    from {
        transform: translateY(-0px);
        opacity: 1;
    }
    to {
        transform: translateY(60px);
        opacity: 0;
    }
}

.errorFlash {
    background-color: #ad0d0d;
    color: white;
}
.successFlash {
    background-color: #0dad55;
    color: rgb(255, 255, 255);
}




.fa-caret-up, .fa-caret-down {
    color: rgb(165, 165, 165);
    font-size: 2em;
}





.warning {
    position: relative;
    z-index: -10;
    opacity: 0.2;
    font-size: 2.5em;
    transform: translate(-6px, 12px);
    line-height: 0;
}


.groupDescription {
    font-size: 1.5em;
    font-style: italic;
    color:#cfcfcf;

    text-align: center;
    width: 70%;
    margin: 10px auto;
}























.toggleAutoPlay {
    --width: 80px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }

  .toggleAutoPlay input {
    display: none;
  }

  .toggleAutoPlay .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #ccc;
    transition: all 0.4s ease-in-out;
  }

  .toggleAutoPlay .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggleAutoPlay input:checked+.slider {
    background-color: #2196F3;
  }

  .toggleAutoPlay input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }




  .fa-circle-up {
    cursor:pointer;
  }



  .gameHeaderInfos {

    background-size:cover; 
    background-repeat:no-repeat;
  }




#favGameBtn {
    cursor: pointer;
}

.upTopicPostBtn, .downTopicPostBtn, .upMediaPostBtn, .downMediaPostBtn {
cursor: pointer;
}


.fa-heart {
    transition: all 0.5s;
}
.favGameBtn {
    transition: all 0.5s;
}










.nbrPlaceInput {
    width: 70px;
}

.groupListGrid {
    display: inline-flex;
    margin: 20px 0px;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
}

.groupCard {
    font-family: 'K2D', sans-serif;
    width: 180px;
    height: 200px;
    /* background-color: #d3d3d3; */
    border-radius: 2px;
    /* clip-path: polygon(16% 0, 100% 0, 84% 100%, 0% 100%); */

}


#leaveGroupBtn {
    padding: 10px 15px;
    background-color: #b43a3a;
    border-radius: 3px;
    display: block;
    width: 200px;
    text-align: center;
    margin: 30px auto;
}


.membersList {
    display: inline-flex;
    width: 100%;
    margin: 20px auto;
    justify-content: flex-start;
}
.membersList li {
    margin: 0 15px;
}

.memberCard {
    display: inline-flex;
    flex-direction: column;
    color: black;
    font-family: 'K2D', sans-serif;
    padding: 3px 10px;
    border-radius: 2px;
    /* background-color: ; */
}
.voidMember {
    color: black;
    font-family: 'K2D', sans-serif;
    padding: 3px 10px;
    border-radius: 2px;
}

.formAddGroup {
    width: 70%;
    margin: 0 auto;
}




#questionsContainer {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.inputQuestionLine {
    display: inline-flex;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
}


.questionRequired {
    padding: 10px;
    margin-left: 20px;
}

.deleteQuestion {
    position: absolute;
    right: 15px;
}

.questionsContainer {
    display:flex; 
    flex-direction:column;
    width: 92%;
    margin: 20px auto;
}
.questionLine {
    font-family: 'K2D', sans-serif;
    justify-content: space-between;
    margin-top: 2px;
    border-radius: 3px;
    padding: 10px 10px 0px 5px;
}
.questionLineList {
    position: relative;
    background-color: #404040;
    font-family: 'K2D', sans-serif;
    justify-content: space-between;
    margin-top: 1px;
    padding: 10px 10px 7px 10px;
}
.requiredStar {
    color: #b43a3a;
    font-size: 0.7em;
    margin-left: 5px;
    position: relative;
    bottom: 4px;
}


.questionAndAnswer {
    margin: 2px auto;
    width: 100%;
}

.deleteQuestionBtn {
    cursor: pointer;
}


.verticalCenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.candidaturesListBtn {
    border: 2px solid;
    cursor: pointer;
    color: white;
    padding: 10px 18px;
    border-radius: 3px;
    margin: 25px auto;
    display: block;
    width: fit-content;

    transition: all 0.4s;
}
.candidaturesListBtn {

}


.blacklistBtn {
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid red;

    transition: all 0.4s;
}


.candidatureCard {
    background-color: #4b4b4b;
    border-radius: 3px;
    padding: 15px;

    transition: all 0.4s;
}



.questionAnswerContainer {
    display:flex; 
    flex-direction:column;
    margin: 10px auto;
    padding: 5px 10px;
    border: 1px solid rgba(116, 116, 116, 0.5);
    border-radius: 3px;
    width: 100%;
}

.candidatureQuestion {


}

.leaderCard {
    border: 1px solid gold;
}